<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
        <div id="app">
            <p style="font-weight:bold">App 1 - Vis besked via. VueJS (kan skiftes i DOM med: app.message = "ny besked" i browser console</p>
                {{ message }}
              </div>

              <div id="app-2">
                    <p style="font-weight:bold">App 2 - Tildel attributer til elementer i DOM (hover med mouse)</p>
                <span v-bind:title="message">
                  Hover your mouse over me for a few seconds
                  to see my dynamically bound title!
                </span>
              </div>

              <div id="app-3">
                    <p style="font-weight:bold">App 3 - if statements i DOM (skriv app3.seen = false eller true i browser console)</p>
                <span v-if="seen">Now you see me</span>
              </div>

              <div id="app-4">
                    <p style="font-weight:bold">App 4 - For loops i DOM (skriv app4.todos.push(text: 'nyt item') i browser console) </p>
                <ol>
                  <li v-for="todo in todos">
                    {{ todo.text }}
                  </li>
                </ol>
              </div>

              <div id="app-5">
                    <p style="font-weight:bold">App 5 - Onclick metoder/funktioner i DOM </p>
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">Reverse Message</button>
              </div>

              <div id="app-6">
                    <p style="font-weight:bold">App 6 - Opdater og modellér form input i DOM (on the spot)</p>
                <p>{{ message }}</p>
                <input v-model="message">
              </div>

              <div id="app-7">
                    <p style="font-weight:bold">App 7 - Lav Components med Vue som kan sektionere hele websites</p>
                <ol>
                  <!--
                    Now we provide each todo-item with the todo object
                    it's representing, so that its content can be dynamic.
                    We also need to provide each component with a "key",
                    which will be explained later.
                  -->
                  <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">
                  </todo-item>
                </ol>
              </div>

    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>